<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Mantenimiento Cliente</title>

<link href="https://fonts.googleapis.com/css?family=Merienda+One"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>

html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
background-color: rgba(248, 248, 255,0.5) !important;
border-radius: 5px;
width: 45%;
}
</style>
</head>
	<header th:replace="listado-clientes :: header"></header>
<body>
<br>
<br>
<br>
	<div class="container">

		<main>

			<section style="width: 100%;float: none;">
				<h1 style="text-align: center;">Mantenimiento Cliente</h1>
				<form action="/clientes/actualizar" method="post" th:object="${cliente}">

					<div class="form-group">
						<label for="inputAddress">Codigo Cliente</label> <input
							type="text" th:field="*{id_cliente}" class="form-control"
							id="inputAddress" placeholder="Codigo Cliente">
					</div>
					<div class="form-group">
						<label for="inputAddress2">Nombre</label> <input type="text"
							th:field="*{nombre}" class="form-control" id="inputAddress2"
							placeholder="Nombre">
					</div>
					<div class="form-group">
						<label for="inputAddress2">Apellido</label> <input type="text"
							th:field="*{apellido}" class="form-control" id="inputAddress2"
							placeholder="Apellido">
					</div>
					<div class="form-group">
						<label for="inputAddress2">Numero</label> <input type="text"
							th:field="*{Numero}" class="form-control" id="inputAddress2"
							placeholder="Numero">
					</div>
					<div class="form-group">
						<label for="inputAddress2">Correo</label> <input type="text"
							th:field="*{Correo}" class="form-control" id="inputAddress2"
							placeholder="Correo">
					</div>
					<div class="form-group">
						<label for="inputAddress2">Dni</label> <input type="text"
							th:field="*{Dni}" class="form-control" id="inputAddress2"
							placeholder="Dni">
					</div>
					<button type="submit" class="btn btn-primary">Registrar</button>
					<a href="/listadocli" class="btn btn-primary">Volver al Listado</a>
				</form>
				<br>
				<div th:class="${clasemensaje}" role="alert"  th:text="${mensaje}"></div>
			</section>
			
		</main>
	</div>

</body>



</html>